.scroll {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.header {
  height: 250px;
  overflow: hidden;
  position: sticky;
  top: 0;
  will-change: transform;
}

.content {
  flex: 1;
  padding: 32px;
  gap: 16px;
  overflow: hidden;
  background: var(--color-bg-card);
}
